<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th width="60">Year</th>
      <th width="60">Month</th>
      <th width="60">Day</th>
      <th width="60">Time</th>
      <th width="100">Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td align="center"><%= appointment.year %></td>
        <td align="center"><%= appointment.month %></td>
        <td align="center"><%= appointment.day %></td>
        <td align="center"><%= appointment.time %></td>
        <td align="center"><%= appointment.description %></td>
        <td align="center"><%= link_to 'Show', appointment %></td>
        <td align="center"><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td align="center"><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" onclick="location.href='/pages/calendar'">To Go Back To Calendar</button>

<!--
<br>

<%= link_to 'New Appointment', new_appointment_path %>
-->
